@model IEnumerable<TAApplication.Models.Slot>
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
@inject RoleManager<IdentityRole> rm

@{
    TAUser currUser = new TAUser();
    var users = UserManager.Users.ToArray();
    foreach (var user in users)
    {
        if (user.UserName == User.Identity?.Name)
        {
            currUser = user;
        }
    }

   
}

@section scripts{
    @{var uid = @currUser.Unid;}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.0.4/pixi.js"></script>
    <script type="text/javascript" src="~/js/Slot/setup.js">      </script>
    <script type="text/javascript" src="~/js/Slot/slot.js">      </script>
    <script type="text/javascript" src="~/js/Slot/line.js">      </script>
    <script type="text/javascript" src="~/js/Slot/days.js">      </script>
    <script type="text/javascript" src="~/js/Slot/times.js">      </script>
    <script type="text/javascript" src="~/js/Slot/update.js">      </script>

    <script type="text/javascript">
        $(function testing() {
            setup_pixi_stage(1000, 1400);
          
            
            var line = new Line(25, 75, 950, 0xFFFFFF);
            var days = new Days();
            var times = new Times();
            let x = 25;
            let width = 850;
            let y = 112.5;
            for (let i = 0; i < 13; i++) {
                var timeline = new Line(x, y, width, 0xA2A4A4)
                y += 100;
                app.stage.addChild(timeline)
            }

            x = 25;
            width = 100;
            y = 112.5;
            var count = 0;
            for (let i = 0; i < 5; i++) {
                for (let i = 0; i < 48; i++) {
                    var timeslot = new Slot(x, y, 25, width, 0xCB0000, count++);
                    y += 25;
                    app.stage.addChildAt(timeslot,count);
                }
                x += 175;
                y = 112.5;
            }

            app.stage.addChild(line);
            app.stage.addChild(days);
            app.stage.addChild(times);
            getAvaliability("@uid")
        });

    </script>

}
    @{
    ViewData["Title"] = "Index";
}
<h1> @currUser.FullName's Avaliability</h1>



<div id="canvas_div"></div>
<button onclick="setAvaliability('@currUser.Unid')">Save Note</button>

