<!--
  Author:    Cole Hanlon
  Partner:   Tyler Harkness
  Date:      9/8/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Cole Hanlon, Tyler Harkness - This work may not be copied for use in Academic Coursework.

  I, Cole Hanlon & Tyler Harkness, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This Index.html file contains all contents for first build of a home page of a school of computing TA application
    website. This file contains purely HTML with links to CSS, there are no links to other scripts. There are references to images
    in a subdirectory.
-->

@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using TAApplication.Areas.Data
@using TAApplication.Data
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
@inject RoleManager<IdentityRole> rm
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Home";
}



<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Cole Hanlon, Tyler Harkness">
    <meta name="description" content="University of Utah School of Computing
          TA Program Home Information Page">
    <meta charset="utf-8">
    <meta name="keywords" content="UofU, University of Utah, School of Computing,
          TA Program, TA Information, CS TA, Apply">

    <title>TA Program Home</title>

    <link rel="icon" type="image/x-icon" href="../../wwwroot/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
 
</head>
<body>

    <header></header>
    <main>
        <div id="main-container" class="container py-4">
            <div class="mainJumbo p-5 mb-4 bg-dark rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold text-light">Welcome!</h1>
                    <p class="col-md-8 fs-4 text-light">
                        As a Teaching Assistant in the School of Computing here at the University of Utah, you can strengthen your CS skills in many ways. Being in a teaching role will solidify skills learned in previous enrollments.
                        You also have the opportunity to connect with professors throughout the department, who can assist inyour education and career journey. You can also receive great compensation while working on campus.
                    </p>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        TAUser currUser = new TAUser();
                        var users = UserManager.Users.ToArray();
                        foreach (var user in users)
                        {
                            if (user.UserName == User.Identity?.Name)
                            {
                                currUser = user;
                            }
                        }
                        var userRoll = await UserManager.GetRolesAsync(currUser);
                        var application = await _context.Applications.FirstOrDefaultAsync(m => m.TAUser.UserName == currUser.UserName);

                        if (userRoll.Contains("Applicant") && application == null) {
                            <a class="btn btn-danger btn-lg" asp-controller="Applications" asp-action="Create">Apply Now</a>
                        }
                        else if (userRoll.Contains("Applicant") && application != null)
                        {
                            <a class="btn btn-primary btn-lg" asp-controller="Applications" asp-action="Details" asp-route-id="@application.ID">View Your Application</a>



                        }
                    }
                </div>
            </div>
            <div class="row align-items-md-stretch">
                <div class="col-md-6">
                    <div id="taofyearcard" class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>TA of the Year</h2>
                        <p>Each year a TA is recognized for outstounding work helping students and professors throughout a course.</p>
                        <button class="btn btn-outline-light" type="button">Previous TAs of the Year</button>
                    </div>
                </div>
                <div id="faqcard" class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>FAQs</h2>
                        <p>For answers to many questions regarding work as a TA</p>
                        <button class="btn btn-outline-light" type="button">View FAQs</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
