@{
    ViewData["Title"] = "Privacy";
}

<link rel="icon" type="image/x-icon" href="../../wwwroot/images/favicon.ico">

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
