@*/*< !--
    Author:    Cole Hanlon
Partner:   Tyler Harkness
Date: 12 / 8 / 2022
Course:    CS 4540, University of Utah, School of Computing
Copyright: CS 4540 and Cole Hanlon, Tyler Harkness - This work may not be copied for use in Academic Coursework.

    I, Cole Hanlon & Tyler Harkness, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This class contains the base of the navbar, and links to other pages are displayed is based on if you are signed in or not, and what permissions you have.
-->*@
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using TAApplication.Areas.Data
@using TAApplication.Data
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
@inject RoleManager<IdentityRole> rm
@inject ApplicationDbContext _context
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TA Program</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TAApplication.styles.css" asp-append-version="true" />
</head>
<body>
   
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">SoC TA Program</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(SignInManager.IsSignedIn(User)){
                            TAUser currUser = new TAUser();
                            var users = UserManager.Users.ToArray();
                            foreach (var user in users)
                            {
                                if (user.UserName == User.Identity?.Name)
                                {
                                    currUser = user;
                                }
                            }
                            var userRoll = await UserManager.GetRolesAsync(currUser);
                            if(userRoll.First() == "Applicant"){

                                var application = await _context.Applications.FirstOrDefaultAsync(m => m.TAUser.UserName == currUser.UserName);

                                if(application != null){
                                    <li class="nav-item"><a class="nav-link text-light" asp-controller="Applications" asp-action="Details" asp-route-id="@application.ID">View Your Application</a></li>
                                }
                                else{
                                    <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-controller="Applications" asp-action="Create">Create An Application</a></li>
                                }
                            }
                            else if (userRoll.First() == "Professor"){
                                <li class="nav-item"><a class="nav-link text-light" asp-controller="Applications" asp-action="List">Applicant List</a></li>
                            }
                            else if (userRoll.First() == "Administrator"){
                                <li class="nav-item"><a class="nav-link text-light" asp-controller="Applications" asp-action="Index">Applicant Home</a></li>
                                <li class="nav-item"><a class="nav-link text-light" asp-controller="Admin" asp-action="Roles">Roles</a></li>

                            }
                           <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">TA Menu</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown04">
                            <li><a class="dropdown-item">Cole Hanlon, Tyler Harkness</a></li>

                            @{
                                var course = await _context.Course.FirstOrDefaultAsync();
                               }
                            <li><hr /></li>
                            <li>PS9</li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="EnrollmentTrends">Enrollment Trends Line</a></li>
                                    <li><a class="dropdown-item" asp-controller="Admin" asp-action="EnrollmentTrendsPie">Enrollment Counts Pie</a></li>

                            </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-light">
            &copy; 2022 - School of Computing TA Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
