<!--
  Author:    Cole Hanlon
  Partner:   Tyler Harkness
  Date:      11/22/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Cole Hanlon, Tyler Harkness - This work may not be copied for use in Academic Coursework.

  I, Cole Hanlon & Tyler Harkness, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     This Index.cshtml file contains all contents for a page which displays an applicants availability using Pixi.js. Also,
    allows the applicant to select and save their new availability through endpoints of the web server.
-->

@model IEnumerable<TAApplication.Models.Slot>
@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
@inject RoleManager<IdentityRole> rm

@{
    //Find the current user
    TAUser currUser = new TAUser();
    var users = UserManager.Users.ToArray();
    foreach (var user in users)
    {
        if (user.UserName == User.Identity?.Name)
        {
            currUser = user;
        }
    }
}

@section scripts{
    @{var uid = @currUser.Unid;}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.0.4/pixi.js"></script>
    <script type="text/javascript" src="~/js/Slot/AvailabilityTracker.js"></script>
    <script type="text/javascript" src="~/js/Slot/slot.js"></script>
    <script type="text/javascript" src="~/js/Slot/line.js"></script>
    <script type="text/javascript" src="~/js/Slot/days.js"></script>
    <script type="text/javascript" src="~/js/Slot/times.js"></script>
    <script type="text/javascript" src="~/js/Slot/update.js"></script>
    
    <script type="text/javascript">
        $(function setup() {
            setup_pixi_stage(1000, 1400, "@uid");
        });
    </script>

}
    @{
    ViewData["Title"] = "Index";
}
<h1> @currUser.FullName's Availability</h1>
<p>Please select all 15 minute periods in which you are available to work each week through the semester.</p>
<hr />
<button class="btn btn-warning" id="save" onclick="setAvailability('@currUser.Unid')">Save Note</button>
<div class="content">
    <div class="spinner-border text-light" id="spinner" role="status">
    </div>
</div>
<br />

<div id="canvas_div"></div>


